@inherits global::StoryBlog.Web.Blazor.Client.Controls.BlogMenuItemComponent
<li class=@ClassString style=@Style>
    <a class="storyblog-menu-item" href=@Link>
        <p class="h5"><strong>@Title</strong></p>
    </a>
</li>