@inherits global::StoryBlog.Web.Blazor.Client.Controls.BlogMenuItemComponent
<li class=@ClassString style=@Style>
    <NavLink href=@Link>
        <p class="h5"><strong>@Title</strong></p>
    </NavLink>
</li>