@using System.Collections.Generic
@using System.Collections.ObjectModel
@using StoryBlog.Web.Blazor.Client.Store.Models

@foreach (var comment in Comments)
{
    <li class="media">
        <img src="img/abstract.jpg" class="align-self-start rounded-circle mr-3" width="64" height="64" alt=@comment.Author.Name />
        <div class="media-body">
            <div class="mb-lg-3">
                <h5 class="mt-0">
                    <a href="#" class="">@comment.Author.Name</a>
                </h5>
                <ul class="list-unstyled list-inline text-muted">
                    <li class="list-inline-item">
                        <i class="mdi mdi-calendar"></i>
                        <TimeLabel DateTime=comment.Published.Date />
                    </li>
                </ul>
                @((MarkupString)comment.Content)
            </div>
            @*<CommentBox ParentId=comment.Id />*@
            <CommentsBlock Comments=comment.Comments />
        </div>
    </li>
}

@code
{
    private ICollection<Comment> comments;

    [Parameter]
    public ICollection<Comment> Comments
    {
        get
        {
            if (null == comments)
            {
                comments = new Collection<Comment>();
            }

            return comments;
        }
        set
        {
            comments = value;
        }
    }
}