@inherits StoryBlog.Web.Blazor.Client.Controls.CommentBoxBase

<div class="card">
    <div class="card-header">New Comment</div>
    <div class="card-body">
        <div class="form-group">
            <label for="new-comment">Message:</label>
            <textarea id="new-comment" class="form-control" rows="3" @bind=@Message></textarea>
        </div>
        <button type="button" class="btn btn-primary small mt-2" @onclick=OnSubmitButtonClick>Submit</button>
    </div>
</div>