@using global::Blazor.Fluxor
@using Microsoft.AspNetCore.Blazor.Services
@using StoryBlog.Web.Blazor.Client.Store.Actions
@using StoryBlog.Web.Services.Shared.Common

@inherits BlazorLayoutComponent

@inject IStore Store
@inject IDispatcher Dispatcher
@inject IUriHelper UriHelper

@Store.Initialize()

<div class="container-fluid storyblog-wrapper">
    <main class="row storyblog-main">
        <aside class="left col-md-2 storyblog-main-menu">
            <StoryBlogTitle Title="Sample Blog" Description="lorem ipsum dolor sit amet" />
            <div>
                <BootstrapButton Type=@BootstrapButtonTypes.Secondary Outline=true Size=@BootstrapButtonSizes.Small OnClick=@OnLoginButtonClick>
                    <i class="mdi mdi-account-arrow-right"></i>
                    Sign in
                </BootstrapButton>
            </div>
            <BlogMenu>
                <BlogMenuItem Title="Home" Link="/" Class="ml-3" />
                <BlogMenuItem Title="Stories" Link="/Stories" Class="ml-3" />
            </BlogMenu>
        </aside>
        <section class="col-md-10 storyblog-main-content">
            @Body
        </section>
    </main>
</div>

@functions
{
    private void OnLoginButtonClick(UIMouseEventArgs e)
    {
        var query = QueryString.Create("returnUrl", UriHelper.GetAbsoluteUri());
        var requestUri = new UriBuilder("http://localhost:3100/account/signin") { Query = query.ToUriComponent() };

        UriHelper.NavigateTo(requestUri.ToString());
    }
}
