@using global::Blazor.Fluxor
@using Microsoft.AspNetCore.Components.Layouts

@inherits LayoutComponentBase

@inject IStore Store

@Store.Initialize()

<div class="container bg-white rounded-lg storyblog-main">
    <StoryBlogTitle Title="Sample Blog" />
    <RubricsNavigation />

    <main class="container" role="main">
        @Body
    </main>

    <footer class="storyblog-footer bg-dark mt-3">
    </footer>
</div>