@using global::Blazor.Fluxor

@inherits LayoutComponentBase

@inject IStore Store

@Store.Initialize()

<div class="container bg-white rounded-lg my-4 storyblog-main">
    <BlogTitle Title="Sample Blog" />
    <RubricsNavigation />

    <main class="container" role="main">
        @Body
    </main>

    <footer class="container bg-dark border-top border-light storyblog-footer">
        <div class="row">
            <div class="col-auto">
                <span>footer</span>
            </div>
        </div>
    </footer>
</div>