@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Store.Actions

@inherits BlazorLayoutComponent

@inject IStore Store
@inject IDispatcher Dispatcher

@Store.Initialize()

<div class="container-fluid storyblog-wrapper">
    <main class="row storyblog-main">
        <aside class="left col-md-2 storyblog-main-menu">
            <StoryBlogTitle Title="Sample Blog" Description="lorem ipsum dolor sit amet" />
            <div>
                <a href="http://localhost:3100/account/signin?returnUrl=http://localhost:64972/" class="btn btn-outline-secondary">
                    <i class="mdi mdi-account-arrow-right"></i>
                    Sign in
                </a>
            </div>
            <BlogMenu>
                <BlogMenuItem Title="Home" Link="/" Class="ml-3" />
                <BlogMenuItem Title="Stories" Link="/Stories" Class="ml-3" />
            </BlogMenu>
        </aside>
        <section class="col-md-10 storyblog-main-content">
            @Body
        </section>
    </main>
</div>

@functions
{
}
