@using global::Blazor.Fluxor
@inherits BlazorLayoutComponent
@inject IStore Store

@Store.Initialize()

<div class="container-fluid storyblog-wrapper">
    <main class="row storyblog-main">
        <aside class="left col-md-3 storyblog-main-menu">
            <StoryBlogTitle Title="Sample Blog" Description="lorem ipsum dolor sit amet" />
        </aside>
        <section class="col-md-9 storyblog-main-content">
            @Body
        </section>
    </main>
</div>
