@using global::Blazor.Fluxor

@inherits LayoutComponentBase

@inject IStore Store

@Store.Initialize()

<div class="container bg-white rounded-lg my-4 storyblog-main">
    <BlogTitle Title="Sample Blog" />
    <RubricsNavigation />

    <BootstrapModalPresenter LabelName="modalDialogTitle">
        <Content Context="Dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="modalDialogTitle" class="modal-title">@Dialog.Title</h5>
                        <button type="button" class="close" aria-label="Close" @onclick="@Dialog.OnClose">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </Content>
    </BootstrapModalPresenter>
    
    <main class="container mt-4" role="main">
        @Body
    </main>

    <footer class="container border-top border-light storyblog-footer">
        <div class="row">
            <div class="col-auto">
                <span>footer</span>
            </div>
        </div>
    </footer>
</div>