@using global::Blazor.Fluxor
@using Microsoft.AspNetCore.Components.Layouts

@inherits LayoutComponentBase

@inject IStore Store

@Store.Initialize()

<div class="container bg-white rounded-lg storyblog-container">
    <StoryBlogTitle Title="Sample Blog" />
    <RubricsNavigation />
    <main class="row storyblog-main">
        @*<aside class="left col-md-2 storyblog-main-menu">
            <BlogMenu>
                <BlogMenuItem Title="Home" Link="/" Class="ml-3"/>
                <BlogMenuItem Title="Stories" Link="/Stories" Class="ml-3"/>
                <BlogMenuItem Title="Signin" Link="/Signin" Class="ml-3"/>
            </BlogMenu>
        </aside>
        <section class="col-md-10 storyblog-main-content">
        </section>*@
        @Body
    </main>
</div>