@using global::Blazor.Fluxor
@using Microsoft.AspNetCore.Components.Layouts

@inherits LayoutComponentBase

@inject IStore Store

@Store.Initialize()

<div class="container bg-white rounded-lg storyblog-main">
    <BlogTitle Title="Sample Blog" />
    <RubricsNavigation />

    <main class="container" role="main">
        @Body
    </main>

    <footer class="container storyblog-footer bg-dark mt-3 border-top border-light">
        <div class="row">
            <div class="col-auto">
                <span>footer</span>
            </div>
        </div>
    </footer>
</div>