@using global::Blazor.Fluxor
@inherits BlazorLayoutComponent
@inject IStore Store

@Store.Initialize()

<div class="sidebar">
    <NavMenu />
</div>

<div class="container storyblog-main">
    <main class="row">
        <div class="col-md-8 storyblog-main-content">
            @Body
        </div>
        <aside class="col-md-4">

        </aside>
    </main>
</div>
