@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Components

@inherits LayoutComponentBase

@inject IStore Store

@Store.Initialize()

<div class="container bg-white rounded-lg my-4 storyblog-main">
    <BlogTitle Title="Sample Blog" />
    <RubricsNavigation />

    <BootstrapModalPresenter Class="storyblog-modal-background" ButtonSize="@BootstrapButtonSizes.Default">
        <Information Context="Info">
            <span>@Info.Description</span>
        </Information>
        <Loading>
            Loading...
        </Loading>
    </BootstrapModalPresenter>
    
    <main class="container mt-4" role="main">
        @Body
    </main>

    <footer class="container border-top border-light storyblog-footer">
        <div class="row">
            <div class="col-auto">
                <span>footer</span>
            </div>
        </div>
    </footer>
</div>