<h1>
    @Title
    <small>@Description</small>
</h1>

@functions
{
    [Parameter]
    protected string Title
    {
        get;
        set;
    }

    [Parameter]
    protected string Description
    {
        get;
        set;
    }
}