<div class="ml-2 mt-4 mr-2 mb-5 lead storyblog-logo">
    <h5>@Title</h5>
    <small class="text-muted">@Description</small>
</div>

@functions
{
    [Parameter]
    protected string Title
    {
        get;
        set;
    }

    [Parameter]
    protected string Description
    {
        get;
        set;
    }
}