@using StoryBlog.Web.Blazor.Client.Models

<li class="media ml-lg-4">
    <div class="media-body">
        <div class="mb-lg-3">@Comment.Content</div>
        @foreach (var comment in Comment.Comments)
        {
            <StoryBlogComment Comment=@comment Level=@(Level + 1) />
        }
    </div>
</li>

@functions
{
    [Parameter]
    protected CommentModel Comment
    {
        get;
        set;
    }

    [Parameter]
    protected int Level
    {
        get;
        set;
    }
}