@using StoryBlog.Web.Blazor.Client.Store.Models
<li class="media">
    <img src="http://lorempixel.com/g/64/64/abstract" class="align-self-start rounded-circle mr-3" width="64" height="64" alt=@Comment.Author.Name />
    <div class="media-body">
        <div class="mb-lg-3">
            <h5 class="mt-0">
                <a href="#" class="">@Comment.Author.Name</a>
            </h5>
            <p class="text-muted">
                <small>@Comment.Published.ToString("f")</small>
            </p>
            @Comment.Content
        </div>
        @foreach (var comment in Comment.Comments)
        {
            <StoryBlogComment Comment=@comment Level=@(Level + 1)/>
        }
    </div>
</li>

@functions
{
    [Parameter]
    protected CommentModel Comment
    {
        get;
        set;
    }

    [Parameter]
    protected int Level
    {
        get;
        set;
    }
}