@using StoryBlog.Web.Blazor.Client.Store

@if (null == State)
{

}
else if (State.IsBusy)
{
    <p class="text-muted">Loading...</p>
}
else
{
    if (null != State.Error)
    {
        <p>@State.Error</p>
    }

    if (null != State.Data)
    {
        <StoryBlogTitle Title=@State.Data.Title Description=@State.Data.Description />

        if (null != State.Data.HeroStory)
        {
            <div class="jumbotron">
                <h4>@State.Data.HeroStory.Title</h4>
                <div class="justify-content-md-start">
                    @State.Data.HeroStory.Content
                </div>
            </div>
        }


    }
    else
    {
        <p>Empty Content</p>
    }
}

@functions
{
    [Parameter]
    protected LandingState State
    {
        get;
        set;
    }
}
