@using StoryBlog.Web.Services.Blog.Interop.Models

@if (null != Stories)
{
    foreach (var story in Stories)
    {
        <article id=@story.Slug class="storyblog-story mb-4">
            <div class="storyblog-story-header mt-0 mb-1">
                <h2 class="storyblog-story-title">
                    <a href="/Story/@story.Slug">@story.Title</a>
                </h2>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="mdi mdi-calendar"></i>
                        @story.Created
                    </li>
                    <li class="list-inline-item">
                        <i class="mdi mdi-comment-multiple-outline"></i>
                        <text>@story.Comments</text>&nbsp;Comments
                    </li>
                </ul>
            </div>
            @story.Content
        </article>
    }
}

@functions
{
    [Parameter]
    protected IEnumerable<FeedStoryModel> Stories
    {
        get;
        set;
    }
}