@using StoryBlog.Web.Services.Blog.Common.Models
<article class="card mb-4 storyblog-article">
    <div class="card-header">
        <TimeLabel DateTime=@Story.Created />
    </div>
    <div class="card-body">
        <h5 class="card-title">@Story.Title</h5>
        <p class="card-text">@Story.Content</p>
        <BootstrapButton Type=BootstrapButtonTypes.Secondary IsOutline=true Size=BootstrapButtonSizes.Small>Read more</BootstrapButton>
    </div>
    <div class="card-footer text-muted">
        <p>Comments: <small>@Story.Comments.Count()</small></p>
    </div>
</article>

@functions
{
    [Parameter]
    protected StoryModel Story
    {
        get;
        set;
    }
}