html {
    background-color: #E1E6ED;
}

body {
    margin: 35px !important;
    background-color: #F0F4F7 !important;
}

.storyblog-wrapper {
}

.storyblog-main {
    font-family: 'Nunito Sans', sans-serif;
}

    .storyblog-main a:link, .storyblog-main a:hover, .storyblog-main a:visited {
         text-decoration: none;
         color: black;
    }

    .storyblog-main .storyblog-main-menu {

    }

    .storyblog-main .storyblog-main-menu .storyblog-logo {
    }

    .storyblog-main .storyblog-main-content {
         background-color: white;
    }

        .storyblog-main .storyblog-main-content .storyblog-landing-title {

        }

        /*.storyblog-main .storyblog-main-content .storyblog-story + .storyblog-story {
            border-top: 1px solid #7D7D7D;
        }*/

        .storyblog-main .storyblog-main-content .storyblog-story {
            ;
        }
