@page "/callback"

@inherits Microsoft.AspNetCore.Components.ComponentBase

<div>

</div>

@functions
{

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
    }

}