@page "/callback"

@using System.Diagnostics
@using System.Security.Claims
@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Store
@using StoryBlog.Web.Blazor.Client.Store.Actions

@inherits global::Blazor.Fluxor.Components.FluxorComponent

@inject IState<UserState> State
@inject IDispatcher Dispatcher

<div>
    @{
        var userInfo = State.Value;
    } 

    @if (userInfo.Status.IsNone())
    {
        <p>Empty</p>
    }
    else
    {
        if (userInfo.Status.IsFailed())
        {
            <p>@userInfo.Status.Error</p>
        }
        else
        {
            <p class="h4">
                @{
                    if (userInfo.Principal?.Identity is ClaimsIdentity identity)
                    {
                        foreach (var claim in identity.Claims)
                        {
                            Debug.WriteLine(claim);
                        }
                    }
                }
            </p>
        }
    }
</div>

@functions
{
    
    protected override Task OnInitAsync()
    {
        Dispatcher.Dispatch(new SigninCallbackAction());
        return base.OnInitAsync();
    }

}