@page "/fetchdata"
@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Store
@using StoryBlog.Web.Blazor.Client.Store.Actions
@using StoryBlog.Web.Services.Blog.Common.Models
@inherits global::Blazor.Fluxor.Components.FluxorComponent
@inject IState<BlogState> BlogState
@inject IDispatcher Dispatcher

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (BlogState.Value.IsBusy)
{
    <p><em>Loading...</em></p>
}
else
{
    if (null != BlogState.Value.Error)
    {
        <p>@BlogState.Value.Error</p>
    }
    else if (null != BlogState.Value.Stories)
    {
        foreach (var story in BlogState.Value.Stories)
        {
            <article class="storyblog-article">
                <!--<td>story.Created.ToShortDateString()</td>-->
                <h1 class="storyblog-article-title">@story.Title</h1>
                <div class="storyblog-article-content">@story.Content</div>
            </article>
        }
    }
}

@functions {

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        Dispatcher.Dispatch(new GetStoriesListAction());
    }

}