@using Microsoft.AspNetCore.Blazor
@using Microsoft.AspNetCore.Components

@page "/"
@page "/{PageNumber:int}"

@inject StoryBlog.Web.Blazor.Client.Core.IApiClient ApiClient

<div class="col-9">
</div>
<div class="col-3">
    @(new MarkupString("<span>this is <strong>raw</strong> string.</span>"))
    <a class="btn btn-default" href="http://localhost:5000/api/v1/account/">Sign in</a>
</div>

@functions {
    [Parameter]
    protected int PageNumber { get; set; } = 1;

    [Parameter]
    protected int PageSize { get; set; } = 10;
}
