@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div>
    <BootstrapButton Type=@BootstrapButtonTypes.Primary IsActive=true>Primary button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Secondary>Secondary button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Success>Success button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Danger>Danger button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Warning>Warning button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Info>Info button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Light>Light button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Dark>Dark button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Link>Link button</BootstrapButton>
</div>
@*<div>
    <BootstrapButton Type=@BootstrapButtonTypes.Primary IsActive=true>Primary button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Secondary>Secondary button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Success>Success button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Danger>Danger button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Warning>Warning button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Info>Info button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Light>Light button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Dark>Dark button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Link>Link button</BootstrapButton>
</div>*@
<div>
    <BootstrapButton Type=@BootstrapButtonTypes.Primary Size=@BootstrapButtonSizes.Large>Large button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Primary>Default button</BootstrapButton>
    <BootstrapButton Type=@BootstrapButtonTypes.Primary Size=@BootstrapButtonSizes.Small>Small button</BootstrapButton>
</div>