@page "/"

@using IdentityModel
@using StoryBlog.Web.Blazor.Client.Helpers
@using IdentityModel.Client
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Services

@inject HttpClient Http
@inject IUriHelper Uri

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" onclick=@OnLoginClick>Login</button>

@functions
{

    private async void OnLoginClick(UIMouseEventArgs e)
    {
        var disco = await Http.GetDiscoveryDocumentAsync("http://localhost:3100");
        var crypto = new CryptoHelper();
        var pkce = crypto.CreatePkceData();
        var ur = new RequestUrl(disco.AuthorizeEndpoint);
        var auth = ur.CreateAuthorizeUrl(
            "client.application",
            OidcConstants.ResponseTypes.Code,
            "openid profile api.blog",
            "http://localhost:62742/callback",
            responseMode:OidcConstants.ResponseModes.Query,
            codeChallenge:pkce.CodeChallenge,
            codeChallengeMethod: OidcConstants.CodeChallengeMethods.Sha256);

        Uri.NavigateTo(auth);
    }

}