@page "/"

@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Store
@using StoryBlog.Web.Blazor.Client.Store.Actions
@using StoryBlog.Web.Services.Blog.Interop.Includes

@inherits global::Blazor.Fluxor.Components.FluxorComponent

@inject IState<LandingState> State
@inject IDispatcher Dispatcher

@if (null == State)
{

}
else if (State.Value.IsBusy)
{
    <p class="text-muted">Loading...</p>
}
else
{
    if (null != State.Value.Error)
    {
        <p>@State.Value.Error</p>
    }

    var model = State.Value.Model;
    
    if (null != model)
    {
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-4 mb-5 storyblog-landing-title">
                        <h3 class="mb-2">@model.Title</h3>
                        <text class="text-muted">@model.Description</text>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <StoryBlogHeroStory Story=model.Hero />
                        <StoryBlogFeaturedStories Stories=model.Featured />
                        <FeedStories Stories=model.Feed />
                    </div>
                    <aside class="col-lg-3">
                        <StoryBlogAboutAuthor />
                    </aside>
                </div>
            </div>
        </section>
    }
    else
    {
        <p>Empty Content</p>
    }
}

@functions
{
    protected override async Task OnInitAsync()
    {
        const LandingIncludes includes = LandingIncludes.HeroStory | LandingIncludes.FeaturedStories | LandingIncludes.StoriesFeed;

        await base.OnInitAsync();

        Dispatcher.Dispatch(new GetLandingAction(includes));
    }
}