@page "/"

@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Store
@using StoryBlog.Web.Blazor.Client.Store.Actions

@inherits global::Blazor.Fluxor.Components.FluxorComponent

@inject IState<BlogState> Blog
@inject IDispatcher Dispatcher

<StoryBlogTitle Title="Story Blog" Description="lorem ipsum dolor sit amet" />

@if (Blog.Value.IsBusy)
{

}
else
{
    if (null != Blog.Value.Error)
    {
        <p>@Blog.Value.Error</p>
    }
    else if (null != Blog.Value.Stories)
    {
        foreach (var story in Blog.Value.Stories)
        {
            <StoryBlogArticle Story=@story />
        }
    }
}

@functions
{
    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        Dispatcher.Dispatch(new GetStoriesListAction());
    }
}
